<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form action="login" method="POST">
        <p>Your username</p>
        <input type="text" name="username"></input>
        <br>
        <p>Your password</p>
        <input type="password" name="password"></input>
        <br>
        <input type="submit" value="Log me in!"></input>
    </form>
    <a href="/"><input id='styled_button' type="submit" value="Home"></a>
</body>
</html>