<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/main.js" type="text/javascript" defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">World of Star Wars</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>
    <form action="login" method="POST">
        <div class="form-group">
            <label for="username">Your username:</label>
            <input type="text" class="form-control" name="username"></input>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="password"></input>
        </div>
        {% if login == "False" %}
        Incorrect username and/or password young padawan! Please try again!<br>But meanwhile do not forget:<br>"Do or do not. There is no try!"<br>Master Yoda<br>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-lg">Log me in!</button>
    </form> 
    <button style="display:none;" id="login" value={{ login }}></button>
</body>
</html>