<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>World of Star Wars&copy</title>
</head>
<body>
    <table border=1>
        {% for planet in table %}
            <tr>
                <td>
                    {{ planet.name }}
                </td>
                <td>
                    {{ planet.diameter }}
                </td>
                <td>
                    {{ planet.climate }}
                </td>
                <td>
                    {{ planet.terrain }}
                </td>
                <td>
                    {{ planet.surface_water }}
                </td>
                <td>
                    {{ planet.population }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="/">
        <input id="next" type="submit" name="next">next page</input>
        <input id="previous" type="submit" name="previous">previous page</input>
        <button id="actual" style="display: none;" value={{ response }}></button>
    </form>
</body>
</html>