<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>World of Star Wars&copy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript" defer></script>
    <script src="/static/main.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">World of Star Wars&copy</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Planet list</a></li>
      </ul>
        {% if username %}
          <ul class="nav navbar-nav navbar-right">
            <li><a><span class="glyphicon glyphicon-user"></span>Welcome Master {{ username }}</a></li>
            <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
          </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/registration"><span class="glyphicon glyphicon-user"></span>Registration</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
          </ul>
        {% endif %}
  </div>
</nav>
<h1>Star Wars&copy universe planets</h1>
<form action="/">
    {% if page_num == 7 %}
    <input id="previous" class="btn btn-primary active" type="submit" name="previous" value="previous page"></input>
    <input id="next" class="btn btn-primary disabled" type="submit" name="next" value="next page"></input>
    {% elif page_num == 1 %}
    <input id="previous" class="btn btn-primary disabled" type="submit" name="previous" value="previous page"></input>
    <input id="next" class="btn btn-primary active" type="submit" name="next" value="next page"></input>
    {% else %}
    <input id="previous" class="btn btn-primary active" type="submit" name="previous" value="previous page"></input>
    <input id="next" class="btn btn-primary active" type="submit" name="next" value="next page"></input>
    {% endif %}
</form>
<br>
    <table border=1 class="table">
        <th>
            Name
        </th>
        <th>
            Diameter
        </th>
        <th>
            Climate
        </th>
        <th>
            Terrain
        </th>
        <th>
            Surface water
        </th>
        <th>
            Population
        </th>
        {% for planet in table %}
            <tr>
                <td>
                    {{ planet.name }}
                </td>
                <td>
                    {{ planet.diameter }} km
                </td>
                <td>
                    {{ planet.climate }}
                </td>
                <td>
                    {{ planet.terrain }}
                </td>
                <td>
                    {{ planet.surface_water }}%
                </td>
                <td>
                    {{ planet.population }} people
                </td>
                {% if planet.residents %}
                <td>
                    <button type="submit" id="resident">{{ planet.residents|length }} Resident(s)</button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Resident(s)</h4>
        </div>
        <div class="modal-body">
            <table data-toggle="modal" data-target="#myModal" id="residentsModal" border=1>
                <th>Name</th>
                <th>Height</th>
                <th>Mass</th>
                <th>Hair color</th>
                <th>Skin color</th>
                <th>Eye color</th>
                <th>Birth year</th>
                <th>Gender</th>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="button" style="display:none;" id="page_num" value={{ page_num }}></input>
</body>
</html>