<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>World of Star Wars&copy</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/main.js" type="text/javascript" defer></script>
</head>
<body>
    <table border=1 class="table">
        <th>
            Name
        </th>
        <th>
            Diameter(km)
        </th>
        <th>
            Climate
        </th>
        <th>
            Terrain
        </th>
        <th>
            Surface water %
        </th>
        <th>
            Population
        </th>
        {% for planet in table %}
            <tr>
                <td>
                    {{ planet.name }}
                </td>
                <td>
                    {{ planet.diameter }}
                </td>
                <td>
                    {{ planet.climate }}
                </td>
                <td>
                    {{ planet.terrain }}
                </td>
                <td>
                    {{ planet.surface_water }}
                </td>
                <td>
                    {{ planet.population }}
                </td>
                {% if planet.residents %}
                <td>
                    <button type="submit" id="resident">Resident(s)</button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <form action="/">
        <input id="previous" type="submit" name="previous" value="previous page"></input>
        <input id="next" type="submit" name="next" value="next page"></input>
    </form>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Residents</h4>
        </div>
        <div class="modal-body">
            <table data-toggle="modal" data-target="#myModal" id="residentsModal" border=1>
                <th>Name</th>
                <th>Height</th>
                <th>Mass</th>
                <th>Hair color</th>
                <th>Skin color</th>
                <th>Eye color</th>
                <th>Birth year</th>
                <th>Gender</th>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="button" style="display:none;" id="page_num" value={{ page_num }}></input>
</body>
</html>